fastapi==0.115.5
uvicorn[standard]==0.32.1
python-multipart==0.0.12
pydantic==2.10.3
pydantic-settings==2.6.1
aiofiles==24.1.0

# AWS
boto3==1.34.81
botocore==1.34.81

# IA: LangChain, OpenRouter & Whisper Cloud
openai==1.58.1
langchain-core==0.3.27
langchain-community==0.3.11
langchain-openai==0.2.14
SQLAlchemy==2.0.36

# ElevenLabs
elevenlabs==1.13.0

# Audio processing
pydub==0.25.1

# PostgreSQL (Usamos binary para Docker)
psycopg2-binary==2.9.10

# Utilities
python-dotenv==1.0.1
structlog==24.4.0
tenacity==9.0.0